[submodule "MediaStreamRecorder"]
	path = MediaStreamRecorder
	url = git@github.com:streamproc/MediaStreamRecorder.git
[submodule "face-detection"]
	path = face-detection
	url = git@github.com:neave/face-detection.git
