[submodule "MediaStreamRecorder"]
	path = MediaStreamRecorder
	url = https://github.com/streamproc/MediaStreamRecorder.git
[submodule "face-detection"]
	path = face-detection
	url = https://github.com/yangrongwei/refer-WebRTC-js-sample-face-detection.git
